/*===== Styles =====*/
body {
	font-family: 'Poppins', sans-serif;
	background-color: #990000;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.eot');
    src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
}

/*===== Header =====*/
#header {
	background-color: #FFCC00;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
	width: 100%;
	height: 70px;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9;
}

#brand-name {
	color: black;
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

/*===== Nav =====*/
#nav {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: flex-end;
}

.nav-link {
	margin: 0px;
	padding: 0px;
	width: 125px;
	text-align: center;
}

#nav a {
	color: black;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
}

#nav a:hover {
	color: white;
}

#nav .active {
	color: #800000;
}

/*===== Login/Sign Up =====*/
#login {
	width: 45%;
}

#signup {
	width: 45%;
}

#login-title {
	margin: 20px 0px;
	color: black;
	font-size: 30px;
}

#signup-title {
	margin: 20px 0px;
	color: black;
	font-size: 30px;
}

#or-text {
	display: flex;
	align-items: center;
}

#or-text p {
	font-size: 25px;
}

.sign-in-button {
	font-family: 'FontAwesome', sans-serif;
	width: 100%;
    background-color: #990000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.create-account-button {
	font-family: 'FontAwesome', sans-serif;
	width: 100%;
    background-color: #990000;
    color: white;
    border: none;
    margin: 30px 0px;
    padding: 10px;
    border-radius: 5px;
}

.error-message {
	margin: 0px;
	color: red;
}

#login-error-message {
	color: red;
}

#signup-error-message {
	color: red;
}

/*===== Home =====*/
#home-text {
	text-align: center;
	margin: 100px 0px 20px;
	color: white;
}

#background {
	background-image: url('/images/usc.jpeg');
	background-size: cover;
	background-position: center;
	margin: 0px auto;
	width: 80vw;
	height: 50vh;
	border-radius: 20px;
}

/*===== Search =====*/
.search-container {
    display: flex;
    justify-content: center;
    margin: 100px auto 0px;
}

#search-bar {
    width: 500px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#price, #sort-by {
	background-color: #231F20;
    color: white;
    padding: 10px 0px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
}

#price {
	width: 100px;
}

#sort-by {
	width: 140px;
}

#search-button {
    padding: 10px 20px;
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#search-button:hover {
    background-color: skyblue;
}

#search-text {
	margin: 30px 0px;
	padding: 0px 30px;
}

#search-text h2 {
	color: white;
}

/*===== Restaurants =====*/
.restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 30px;
    align-items: stretch;
}

.card {
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.restaurant-photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.restaurant-name, .restaurant-address, .restaurant-phone, .restaurant-rating {
    padding: 8px;
}

.restaurant-rating span {
	font-family: 'FontAwesome', sans-serif;
}

.star {
	margin-right: 4px;
}

/*===== Favorites =====*/
#favorites-content  {
	margin-top: 100px;
}

#user-content {
	margin-top: 20px;
	text-align: center;
	color: white;
}

.favorites-button {
	font-family: 'FontAwesome', sans-serif;
	padding: 10px 20px;
	background-color: #FFCC00;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s ease;
}

.favorites-button:hover {
 	background-color: darkgoldenrod;
}

/*===== Contact =====*/
#contact {
	width: 100%;
	max-width: 600px;
	margin: 100px auto 0px;
	color: white;
}

#contact-us {
	margin-bottom: 20px;
}

.form-section {
 	margin-bottom: 15px;
}

.form-section label {
	margin-bottom: 5px;
}

.form-section input, .form-section textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#send-button {
	background-color: #FFCC00;
	color: black;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease;
}

#send-button:hover {
	background-color: darkgoldenrod;
	transition: all 0.3s ease;
}
